/* Layout */
@import 'layout/header.css';
@import 'layout/loader.css';
@import 'layout/projects.css';
@import 'layout/project-select.css';
@import 'layout/resources.css';
@import 'layout/stage-gate-select.css';

html {
	height: 100%;
}

body {
	background: #0A42AB;
	display: flex;
	min-height: -webkit-fill-available;
	margin: 0px;
}

.main-container {
	margin: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.main {
	width: 100%;
    height: 100%;
    background: #3965BA;
    display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 0px 0px 10px 10px;
	position: relative;
}

.transition {
	height: 100%;
    width: 100%;
    background: #0a42ab;
    position: absolute;
    z-index: 99;
}

@media only screen and (max-width: 600px) {
	.main {
		border-radius: 0px;
	}

	.main-container {
		margin: 0px;
	}
}