.header-container {
	min-height: 80px;
    background: white;
    display: flex;
    padding: 0px 20px;
}

.header-logo-container {
	height: 100%;
    /* background: green; */
    display: flex;
    align-items: center;
}

.header-logo {
    background: #0a42ab;
    width: 200px;
    height: 60px;
}

.header-nav {
    /* background: yellow; */
    height: 100%;
    width: 100%;
    display: flex;
    place-content: flex-end;
}

.header-nav-container {
    height: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
}

.header-nav-icon-container {
    height: 50px;
    width: 50px;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a42ab;
    border-radius: 50px;
    opacity: 0.75;
    transition: 0.5s;
    cursor: pointer;
}

.header-nav-icon-container:hover {
    opacity: 1;
    transition: 0.5s;
}

.header-nav-icon-container:hover .header-nav-icon{
    transform: scale(1.1);
    transition: 0.25s;
}

.header-nav-icon {
    height: 30px;
    width: 30px;    
    transition: 0.25s;
}