.loader-main-container {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-icon {
    width: 300px;
    height: 100px;
    background: white;
    position: absolute;
    /* One value higher than .loader-background */
    z-index: 5; 
}

.loader-background {
    height: 100%;
    width: 100%;
    background: #0a42ab;
    opacity: 0.9;
    z-index: 4;
    position: absolute;
}