.project-container {
    background: #DAE3F2;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.project-header-container {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.project-header-text-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.project-header-main-text {
    font-size: 48px;
    font-family: sans-serif;
    color: #0a42ab;
    font-weight: bold;
    width: 100%;
    align-items: center;
    display: flex;
    z-index: 1;
}

.project-header-sub-text {
    font-size: 16px;
    font-family: sans-serif;
    color: #0a42ab;
    height: 100%;
    width: 100%;
    margin: 0px 25px;
    align-items: center;
    display: flex;
    z-index: 1;
}

.project-header-background {
    background: #0a42ab;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    position: absolute;
}

.project-body {
    margin: 20px;
    height: 100%;
    display: flex;
}

@media only screen and (max-width: 600px) {
	.project-container {
		border-radius: 0px;
	}
}