.project-select-parent-container {
    background: white;
    border-radius: 15px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 70px;
    flex-wrap: wrap;
}

.project-select-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.project-select-container:hover {
    cursor: pointer;
}

.project-select-container:hover .project .project-icon {
    transition: 0.5s;
    width: 80px;
    height: 80px;
    opacity: 1;
}

.project-select-container:hover .project-text {
    font-size: 15px;
    opacity: 1;
}

.project-select-container:hover .project-ring-1 {
    transform: scale(1.5);
    opacity: 0;
    transition: 0.75s;
}

.project-select-container:hover .project-ring-2 {
    transform: scale(2);
    opacity: 0;
    transition: 1s;
}

.project {
    width: 120px;
    height: 120px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.project-ring-1 {
    width: 120px;
    height: 120px;
    opacity: 0.5;
    position: absolute;
    margin: 10px;
    border-radius: 500px;
    transform: scale(1);
}

.project-ring-2 {
    width: 120px;
    height: 120px;
    opacity: 0.5;
    position: absolute;
    margin: 10px;
    border-radius: 500px;
    transform: scale(1);
}

.project-text {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 14px;
    color: #0a42ab;
    opacity: 0.7;
}

.project-icon {
    transition: 0.5s;
    height: 70px;
    width: 70px;
    opacity: 0.7;
}

@media only screen and (max-width: 600px) {
	.project-select-parent-container {
        padding: 15px 15px;
        width: 80%;
    }

    .project-select-container {
        margin: 5px;
    }

    .project {
        width: 90px;
        height: 90px;
    }

    .project-ring-1 {
        width: 90px;
        height: 90px;
    }
    
    .project-ring-2 {
        width: 90px;
        height: 90px;
    }

    .project-icon {
        transition: 0.5s;
        height: 50px;
        width: 50px;
        opacity: 0.7;
    }

    .project-select-container:hover .project .project-icon {
        transition: 0.5s;
        width: 65px;
        height: 65px;
        opacity: 1;
    }
}

@media only screen and (max-width: 900px) {
	.project-select-parent-container {
        padding: 30px 40px;
        width: 70%;
    }
}