.project-resources-container {
    background: white;
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #00000029;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 0px;
}

.project-resources-text {
    font-size: 24px;
    font-family: sans-serif;
    color: #0a42ab;
    font-weight: bold;
    width: 100%;
    align-items: center;
    display: flex;
    z-index: 1;
}