#stage-gate {
    height: 100%;
    width: 100%;
    position: absolute;
}

.stage-gate-parent-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
}

.stage-gate-container {
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
}

.stage-gate-icon-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.stage-gate-icon-row {
    display: flex;
}

.stage-gate-icon {
    width: 150px;
    height: 150px;
    border-radius: 50px;
    margin: 20px;
}

.stage-gate-text {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.stage-gate-background {
    height: 100%;
    width: 100%;
    background: #0a42ab;
    opacity: 0.9;
    z-index: 2;
    position: absolute;
}

.stage-gate-action-bar {
    width: 100%;
    display: flex;
    justify-content: end;
}

.stage-gate-inactive {
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
	.stage-gate-icon {
        width: 110px;
        height: 110px;
        border-radius: 50px;
        margin: 10px;
    }
}